/* Note: Universal selector applies styles to all the elements 
While body selector applies styles which can be inherited by the child elements.*/

* {
  /* Apply to all the elements */
  margin: 0;
  padding: 0;
}

body {
  /* Inherit to all the child elements*/
  font-family: sans-serif;
  color: #444;

  /* Won't inherit */
  border-top: 10px solid #1098ad;
}

.main-header {
  text-align: center;
  background-color: #f0eeee;
  padding: 40px 20px;
  margin-bottom: 50px;
}

.post-header {
  margin-bottom: 20px;
}

article {
  margin-bottom: 25px;
}

aside {
  background-color: #f0eeee;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 40px 0;
  margin-bottom: 30px;
}

#author,
#footer {
  font-size: 12px;
}

ol,
ul {
  padding-left: 40px;
  margin-bottom: 10px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 22px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

h3 {
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 30px;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

li {
  font-size: 14px;
  margin-bottom: 10px;
}

.related {
  list-style: none;
}

.related-author {
  font-size: 14px;
  font-weight: bold;
}

/* pseudo classes */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

li:nth-child(2) {
  /* color: red; */
}

li:nth-child(odd) {
  /* color: red; */
}

/* Misconception: This won't work! */
article p:first-child {
  /* color: red; */
}

/* ---------- */

/* Styling links (Sequence of 4 states of Links: LVHA) */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: chocolate;
  font-weight: bold;
  text-decoration: underline dotted chocolate;
}

a:active {
  background-color: #444;
}

/* ------------- */
